* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: #f9f9f9;
    color: #242424;
}

/* Header */
header {
    background-color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #801f82;
    font-size: 30px;
    font-weight: bold;
}

.nav-links a {
    color: #242424;
    margin-left: 30px;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    color: #801f82;
}

/* Hero Section */
.hero {
    background-color: #801f82;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    color: #f9f9f9;
    margin-top: 10px;
}

/* Services Section */
.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px 20px;
    background-color: #fff;
}

.service-card {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px;
    transition: transform 0.3s;
    border: 1px solid #f0f0f0;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card i {
    font-size: 40px;
    color: #801f82;
    margin-bottom: 15px;
}

.service-card h3 {
    color: #801f82;
    font-size: 24px;
    margin-bottom: 15px;
}

.service-card p {
    font-size: 16px;
    color: #4f4f4f;
}

/* Call-to-Action Section */
.cta {
    text-align: center;
    padding: 50px 20px;
}

.btn {
    display: inline-block;
    background-color: #801f82;
    color: white;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ff9dcf;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #fff;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #4f4f4f;
}